{% extends 'suvenir/header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
</head>
<body>
    {% block content %}
    <div class="products">
        {% for i in cart %}
        {% if request.user.username == i.user.username %}
        <div class="product">
            <br>
            <h2>{{ i.product.name }}</h2>
            <br>
            <img src="{{ i.product.img.url }}" alt="" height="200" width="200">
            <br>
            <h2>{{ i.product.price }}</h2>
            <br>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    
    {% endblock %}

    

   
</body>
</html>