{% extends 'suvenir/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
    {% block content %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
</head>
<body>
    {% if lencart %}
    <div class="container">
        <div class="cart">
            <div class="products">
                {% for i in cart %}
                <div class="product">
                    <div class="infoproduct">
                        <div class="imgandname">
                            <a href="category/{{ product.category.url }}/souvenirs/{{ product.id }}"><img src="{{ i.product.img.url }}" alt="" height="150" width="150"></a>
                            <div>{{ i.product.name }}</div>
                        </div>
    
                        <div class="priceandquantity">
                            <div>Количество: {{ i.quantity }}</div>
                            <div>Цена: {{ i.product.price }}</div>
                        </div>
                    </div>
                    <div class="control">
                        <a href="{% url 'cart_remove' i.id %}">
                            <img src="{% static 'img/delete.png' %}" alt="">
                        </a>
                    </div>
                </div>
                {% endfor %}
                </div>
                <div class="ordering">
                    <div>В вашей корзине: {{ countproduct }}</div>
                    <div>Итоговая сумма: {{ fullprice }}</div>
                    <a href="{% url 'cart_all_remove' %}">Удалить все:<img src="{% static 'img/delete.png' %}" alt=""></a>
                </div>
            {% else %}
                    <div class="clearcart">
                        Корзина пуста
                    </div>
            {% endif %}
        </div>
    </div>
    {% endblock %}

    

   
</body>
</html>