{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="header">
        <a href="{% url 'main' %}">
            <img src="{% static 'img/mainlogo.png' %}" alt="">
        </a>
        <ul>
            <li><a href="{% url 'new' %}">Новинки</a></li>
            <li><a href="{% url 'popular' %}">Популярное</a></li>
            <li><a href="{% url 'sale' %}">Распродажа</a></li>
        </ul>
        <form action="">
            <input type="search">
            <button>Искать</button>
        </form>
        <div>
            <a href="{% url 'basket' %}">
                <img src="{% static 'img/basket(32px).png' %}" alt="">
            </a>
            <a href="{% url 'liked' %}">
                <img src="{% static 'img/like32.png' %}" alt="">
            </a>
        </div>
        <div class="auth">
            {% if request.user.is_authenticated %}
                <div>
                    Добро пожаловать на сайт {{ request.user.first_name }}
                </div>
                <a href="{% url 'logout' %}">
                    <img src="{% static 'img/logout.png' %}" alt="">
                </a>
            {% else %}
                <div>
                    Вы не авторизированы на нашем сайте
                    <a href="{% url 'login' %}">
                        <img src="{% static 'img/reg(32px).png' %}" alt="">
                    </a>
                </div>
            {% endif %}
            <a href="{% url 'register' %}">
                <img src="{% static 'img/registr.png' %}"  alt="">
            </a>
        </div>
    </div>

{% block content %}{% endblock %}

</body>
</html>