{% extends 'suvenir/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% block content %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    
    <div class="container">
        {% if flagfilter %}
                <h1>Товары не найдены</h1>
        {% endif %}
        <div class="main">
            <form action="">
                <div class="filter">
                    <form action="{% url 'main' %}" method="get">
                        <div class="typeproduct">
                            <div>
                                <input type="checkbox" name="filter" id="" value="Кружки">Кружки
                            </div>
                            <div>
                                <input type="checkbox" name="filter" id="" value="Стаканы">Стаканы
                            </div>
                            <div>
                                <input type="checkbox" name="filter" id="" value="Туалетная бумага">Туалетная бумага
                            </div>
                            <div>
                                <input type="checkbox" name="filter" id="" value="Футболки">Футболки
                            </div>
                        </div>
                        <button type="submit">Отправить</button>
                        
                        <div class="price">
                            Цена:
                            <br>
                            <div class="pricefilter">
                                0
                                <input name="price" type="range" min="0" max="200000" step="1" value="200000">
                                200000
                            </div>
                            
                        </div>
                    </form>
                        
                    
                    
                    
                </div>
            </form>
                {% if lenfilter > 0 %}
                <div class="products">
                    {% for product in filter %}
                        <div class="product">
                            <div class="image">
                                <a href="category/{{ product.category.url }}/souvenirs/{{ product.id }}"><img src="{{ product.img.url }}" alt="" height="250" width="250"></a>
                            </div>
                            <div class="infoproduct">
                                <div class="productname">
                                    {{ product.name }}
                                </div>
                                {% if product.pricesale != 0 %}
                                <div class="productprice">
                                   Старая цена: {{ product.price }} руб 
                                </div>
                                <div class="productprice">
                                   Новая цена: {{ product.pricesale }} руб 
                                </div>
                                {% else %}
                                <div class="productprice">
                                    Цена: {{ product.price }} руб 
                                </div>
                                <div class="productprice">
                                    <br>
                                </div>
                                {% endif %}
                            <div></div>
                        </div>
                        <a href=""><img src="{% static 'img/like24.png' %}" alt=""></a>
                        <a href="{% url 'cart_add' product.id %}"><img src="{% static 'img/add.png' %}" alt=""></a>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="products">
                    {% for product in product %}
                        <div class="product">
                            <div class="image">
                                <a href="category/{{ product.category.url }}/souvenirs/{{ product.id }}"><img src="{{ product.img.url }}" alt="" height="250" width="250"></a>
                            </div>
                            <div class="infoproduct">
                                <div class="productname">
                                    {{ product.name }}
                                </div>
                                {% if product.pricesale != 0 %}
                                <div class="productprice">
                                   Старая цена: {{ product.price }} руб 
                                </div>
                                <div class="productprice">
                                   Новая цена: {{ product.pricesale }} руб 
                                </div>
                                {% else %}
                                <div class="productprice">
                                    Цена: {{ product.price }} руб 
                                </div>
                                <div class="productprice">
                                    <br>
                                </div>
                                {% endif %}
                            <div></div>
                        </div>
                        <a href=""><img src="{% static 'img/like24.png' %}" alt=""></a>
                        <a href="{% url 'cart_add' product.id %}"><img src="{% static 'img/add.png' %}" alt=""></a>
                    </div>
                    {% endfor %}
                    {% endif %}
            </div>
        </div>    
        
    </div>

    {% endblock %}
    
</body>
</html>