<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="{% url 'main' %}">
                <img src="{% static 'img/mainlogo.png' %}" alt="">
            </a>
            <ul>
                <li><a href="">Новинки</a></li>
                <li><a href="">Популярное</a></li>
                <li><a href="">Распродажа</a></li>
            </ul>
            <form action="">
                <input type="search">
                <button>Искать</button>
            </form>
            <div class="regandbusket">
                <a href="">
                    <img src="{% static 'img/basket(32px).png' %}" alt="">
                </a>
                <a href="">
                    <img src="{% static 'img/reg(32px).png' %}" alt="">
                </a>
            </div>
        </div>
        <div class="main">
            <div class="filter">

            </div>
            <div class="products">
                <div class="product">
                    <img src="{% static 'img/test.png' %}" alt="">
                    <div class="infoproduct">
                        <div>
                            Название
                        </div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, deserunt.
                        </div>
                    </div>
                    <img src="{% static 'img/like.png' %}" alt="">
                    <img src="{% static 'img/add.png' %}" alt="">
                </div
            </div>
        </div>    
    </div>
</body>
</html>