{% extends 'suvenir/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block content %}
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
</head>
<body>
    
    <div class="container">
        <div class="category">
            {% for category in category %}
            <div class="card">
                <a href="/category/{{ category.url }}"><img src="{{ category.img.url }}" height="200px" width="200px" alt=""></a>
                <a style="color: black;" href="/category/{{ category.url }}">{{ category.name }}</a>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endblock %}
</body>
</html>