{% extends 'suvenir/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block content %}
    <title>Игрушки</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="container">
        
        <div class="main">

            <div class="filter">
                <form action="{% url 'sushiandrolls' %}" method="get">
                    <div class="price">
                        Цена:
                        <br>
                        <div class="pricefilter">
                            0
                            <input name="price" type="range" min="0" max="5000" step="1" value="5000" checked>
                            5000
                        </div>
                    </div>
                    <button type="submit">Отправить</button>
                </form>
                
            </div>
                <div class="products">
                {% for product in product %}
                    <div class="product">
                        <div class="image">
                            <a href="category/{{ product.category.url }}/souvenirs/{{ product.id }}"><img src="{{ product.img.url }}" alt="" height="250" width="250"></a>
                        </div>
                        <div class="infoproduct">
                            <div class="productname">
                                {{ product.name }}
                            </div>
                            {% if product.pricesale != 0 %}
                            <div class="productprice">
                               Старая цена: {{ product.price }} руб 
                            </div>
                            <div class="productprice">
                               Новая цена: {{ product.pricesale }} руб 
                            </div>
                            {% else %}
                            <div class="productprice">
                                Цена: {{ product.price }} руб 
                            </div>
                            <div class="productprice">
                                <br>
                            </div>
                            {% endif %}
                        <div></div>
                    </div>
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'cart_add' product.id %}"><img src="{% static 'img/add.png' %}" alt=""></a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>    
        
    </div>

    {% endblock %}
</body>
</html>