@charset "UTF-8";

html body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    color: wheat;
    background-color: #333333    
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #A0A0A0;
    color: #362c36;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: wheat;
}

.auth {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer {
    background-color: #A0A0A0;
    display: flex;
    align-items: center;
    justify-content:center;
}

.header li {
    display: inline;
    margin: 5px;
    color: #a7cbd5;
}

#footer-rolls{
    text-align: center;
}