

.category{
    display: flex;
    justify-content: space-around;
    margin-top: 110px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1400px;
    margin: auto;
}