@charset "UTF-8";

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    max-width: 1600px;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}



.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filter {
    max-width: 300px;
    max-height: 800px;
    height: 800px;
    width: 500px;
    background-color: aqua;
    display: inline-block;
    border-radius: 20px;
}

.products {
    display: inline-block;
    max-width: 1400px;
}

.product {
    background-color: aquamarine;
    display: inline-block;
    max-width: 320px;
    min-height: 400px;
    max-height: 400px;
    margin: 10px;
    border-radius: 20px;
}

.image {
    margin: 15px;
}

.infoproduct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productname {
    margin: 5px;
    font-size: 20px;
}

.productprice {
    margin: 5px;
}








