body, html {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.product {
    max-width: 320px;
    min-height: 400px;
    max-height: 400px;
}

.header li {
    display: inline;
    margin: 5px;
}

