@charset "UTF-8";

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #ff8298;
}

.container {
    max-width: 1600px;
    margin: auto;
    margin-top: 110px;
}

a {
    text-decoration: none;
    color: wheat;
}

input[type=range]  {
    width: 200px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    scrollbar-color: #121212 #121212 ;
  }

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filter {
    max-width: 300px;
    max-height: 800px;
    height: 800px;
    width: 500px;
    background-color: #333333;
    display: inline-block;
    border-radius: 20px;
    padding: 7px;
}

.products {
    display: inline;
    max-width: 1400px;
    align-items: flex-start;
}

.product {
    background-color: #333333;
    display: inline-block;
    max-width: 320px;
    min-height: 417px;
    max-height: 500px;
    margin: 10px;
    border-radius: 20px;
}

.image {
    margin: 15px;
}

.infoproduct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productname {
    margin: 5px;
    font-size: 20px;
}

.productprice {
    margin: 5px;
}

.pricefilter {
    display: flex;
}

.typeproduct {
    display: flex;
    flex-direction: column;
}








